Header {
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}   

/*!!!!!!!!!!!!!!!!!! NAV !!!!!!!!!!!!!!!!!!*/

nav 
{
    background-color: rgb(9, 97, 148);
    list-style: none ;
    font-family: Arial, Helvetica, sans-serif;
    width: 22%;
    height: auto;
    padding: 1px 0px 1px 0px ;
}

nav li a 
{
    color:rgb(252, 235, 2);
    text-decoration: none ;
    font-weight : bold;
}

nav li a:hover, nav li a:focus, nav li a:active 
{
    text-decoration: underline ;
}
